<nav class="navbar navbar-expand-lg navbar-light bg-info text-white container-fluid mb-5">
    <div class="container-fluid flex-row">
        <div class="container">
            <div class="row row-cols-auto">
                <a class="navbar-brand col text-light" href="/adminBooks">Books</a>
                <a class="navbar-brand col text-light" href="/adminAuthors">Authors</a>
                <a class="navbar-brand col text-light" href="/adminGenres">Genres</a>
                <a class="navbar-brand col text-light" href="/genresInAllOrders">Queries</a>
            </div>
        </div>

        <a class="navbar-brand col text-light" href="/home" style="float: right">Home</a>
        <a href="/admLogout" class="btn btn-outline-light ml-3">
            LogOut
        </a>
    </div>
</nav>