<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info text-white container-fluid mb-5">
    <div class="container-fluid flex-row">
        <div class="container">
            <div class="row row-cols-auto">
                <a class="navbar-brand col text-light" href="\home">Home</a>
                <a class="navbar-brand col text-light" href="\genres">Genres</a>
                <a class="navbar-brand col text-light" href="\genres">Cart</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light ml-4" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <table class="table">
        <tbody>
        {% if res.books.length == 0 %}
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <h1>Your Cart Is Empty</h1>
                </div>
            </div>
        {% endif %}
        {% for book in res.books %}
            <tr>
                <td>{{ book.Book_name }}</td>
                <td>{{ "%s %s" | format(book.authors[0].First_name, book.authors[0].Surname) }}</td>
                <td>{{ book.Price }}</td>
            </tr>
            {% set counter = counter + book.Price %}
        {% endfor %}
        </tbody>
    </table>
    {% if res.books.length != 0 %}
        <div class="d-flex flex-row-reverse">
            <div class="p-2">Total: {{ res.total }}</div>
        </div>
        <div class="d-flex flex-row-reverse">
            <a href="\order">
                <button type="button" class="btn btn-info">Make an Order</button>
            </a>
        </div>
    {% endif %}
</div>

</body>
</html>