<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% include '../views/navBar.twig' %}


<!-- Carousels container -->
<div class="container-fluid mb-5">

    {% for oneGenreWithBooks in res %}
        {% if oneGenreWithBooks.books.length > 0 %}
            <!-- Carousel -->
            <div id="carouselExampleControls" class="carousel slide h-50 mt-5 d-flex justify-content-center"
                 data-ride="carousel">
                <div class="carousel-inner bg-info">

                    <!-- Carousel Header -->
                    <a href="{{ "/genre/ %s" | format(oneGenreWithBooks.genre.Id_of_genre) }}">
                        <h3 class="text-light ml-3 pt-1">{{ oneGenreWithBooks.genre.Genre_name }}
                            ({{ oneGenreWithBooks.genre.count }})</h3>
                    </a>
                    <!-- ~Carousel Header -->
                    {% for book in oneGenreWithBooks.books %}
                    <!-- Carousel Inner Content -->
                    {% if loop.index == 1 %}
                    <div class="carousel-item active">
                        <div class=" container-fluid mt-3 mb-2 justify-content-center d-inline-flex">
                            {% endif %}

                            {% if (loop.index - 1) % 3 == 0 and loop.index > 1 %}
                            <div class="carousel-item">
                                <div class=" container-fluid mt-3 mb-2 justify-content-center d-inline-flex">
                                    {% endif %}

                                    {% include '../views/bookCard.twig' with {book: book} %}


                                    {% if (loop.index - 1) % 3 == 2 %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% if oneGenreWithBooks.books.length % 3 != 0 %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- ~Carousel Inner Content -->

                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


</body>
</html>