<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


{% include '../views/navBar.twig'%}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Order Date</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% if res.length == 0 %}
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <h1>You haven`t ordered anything yet</h1>
                </div>
            </div>
        {% endif %}
        {% for row in res %}
            <tr>
                <td>{{ row.Address }}</td>
                <td>{{ row.Creation_date }}</td>
                <td>{{ row.Delivery_date ? row.Delivery_date : "Hasn`t been delevered yet" }}</td>
                <td>{{ row.TotalCost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>